.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
  .actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .iconBlock {
      color: rgb(114, 114, 114);
      font-size: 45px;
      padding: 10px;
      box-sizing: border-box;
      cursor: pointer;
    }
  }
}
