.homePage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .body {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
    .left {
      .content {
        h2 {
          font-size: 44px;
          font-weight: 500;
          margin: 0;
        }
        p {
          font-size: 18px;
          font-weight: 300;
        }
        .actionBtn {
          margin-top: 60px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .btn {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            padding: 15px;
            border: none;
            outline: none;
            background: none;
            border-radius: 5px;
            color: rgba(3, 156, 3, 0.801);
            text-decoration: none;
            .btnGreenJoin {
              padding-right: 10px;
              font-size: 30px;
            }
            &:hover {
              background-color: rgb(255, 255, 255);
            }
          }
          .inputBlock {
            margin-left: 20px;
            display: flex;
            flex: 1;
            .inputSection {
              position: relative;
              margin-right: 10px;
              .iconBlock {
                position: absolute;
                top: 50%;
                transform: translate(10px, -50%);
                color: rgb(128, 128, 128);
              }
              input {
                font-size: 16px;
                height: 48px;
                border: 1px solid rgb(128, 128, 128);
                border-radius: 5px;
                padding-left: 35px;
                width: 100%;
                box-sizing: border-box;
                outline: none;
              }
            }
          }
        }
      }
      .helpText {
        margin-top: 30px;
        padding-top: 25px;
        border-top: 1px solid rgb(128, 128, 128);
        p {
          font-size: 14px;
          color: rgb(128, 128, 128);
        }
      }
    }
    .right {
      .content {
        border: 1px solid rgb(255, 255, 255);
        padding: 30px;
        box-sizing: border-box;
        width: 100%;
        border-radius: 5px;
        img {
          width: 100%;
          border-radius: 5px;
        }
      }
    }
  }
}
